body{
    background-color: black;
    overflow: auto;
}

*{
    color: inherit;
    text-decoration: none;    
    font-family: "Maven Pro", sans-serif;
}

.box{
    box-shadow: 0 0 15px rgb(75,75,75);
}

.section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

#header{
    width:100%;
    top: 0;
    left: 0;
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-color: rgb(50,50,50);
    border-width: 0px;
    border-bottom-width: 3px;
    border-style: solid;
    color: yellow;
    text-align: left;
    background-color: rgb(0,0,0);
    z-index: 1;
}

#linkedInButton{
    width: auto;
    top: 0;
    right:0;
    margin-left: auto;
}

#seasonSelect{
    background-color: black;
    width: 30%;
    color: white;
    outline: none;
    transition: 0.15s ease;
}

#seasonSelect:hover{
    width: 35%;
}

#basicinfo{
    width: 30%;
    border-color: rgb(100,100,100);
    border-style: solid;
    color: yellow;
    margin: 0;
    height: auto;
}

#basicstats{
    width: 60%;
    border-color: rgb(100,100,100);
    border-style: solid;
    color: yellow;
    margin: 0;
    height: auto;
}

.title{
    font-weight: bold;
}

.answer{
    color: white;
}

#headshotDiv{
    width: 25%;
    height: auto;
    border-style: solid;
}

#headshot{
    width: 100%;
    height: auto;
}

#graphdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    border-color: rgb(100,100,100);
    border-style: solid;
    color: yellow;
    margin: 0;
}

#graphSelectDiv {
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
  
.pane {
    outline: 2px solid yellow;
    box-shadow: 0 0 10px #00ff6a77, inset 0 0 10px #00ff6a77;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    transition: 0.7s ease;
}
  
.input {
    display: none;
}
  
.graphSelect {
    width: 25%;
    height: 100%;
    float: left;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    z-index: 1;
    color: yellow;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    transition: 0.5s;
}
  
.selection {
    display: none;
    position: absolute;
    height: 100%;
    width: 25%;
    z-index: 0;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px #00ff6a77;
    transition: .15s ease;
}
  
.graphSelect:has(input:checked) {
    color: black;
    transition: 0.5s;
}
  
.graphSelect:has(input:checked) ~ .selection {
    background-color: yellow;
    display: inline-block;
}
  
.graphSelect:nth-child(1):has(input:checked) ~ .selection {
    transform: translateX(0);
    transition: 0.5s ease;
}
  
.graphSelect:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(100%);
    transition: 0.5s ease;
}
  
.graphSelect:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(200%);
    transition: 0.5s ease;
}

.graphSelect:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(300%);
    transition: 0.5s ease;
}

#graph{
    object-fit: contain;
    width: 80%;
    margin-bottom: 2%;
    height: auto;
    transition: 0.15s ease;
}