body{
    background-color: black;
}

* {
    box-sizing: border-box;
}

#linkedInButton{
    position: fixed;
    float: left;
    width: auto;
    top: 0;
    right:0;
    margin-left: auto;
}

#searchBar{
    background-color: rgba(0,0,0,0);
    border-color: rgb(100,100,100);
    border-style: solid;
    color: yellow;
    outline: none;
    position: absolute;
    overflow-x: scroll;
    font-family: 'Raleway';
    margin: 0;
}

#errorField{
    background-color: rgba(0,0,0);
    color: red;
    position: absolute;
    font-family: 'Raleway';
    margin: 0;
}

.buttons{
    position: absolute;
    border-style: solid;
    font-family: 'Raleway';
    margin: 0;
    background-color: rgba(255,255,255,0.3);
}

.buttons:hover{
    background-color: rgba(255,255,255,0.4);
}